{{ define "title" }}MediaPlay Studios{{ end }}
{{ define "main" }}

<main>
    <h1>MediaPlay Studios</h1>

    <p>An official game studio in MediaPlay.</p>

    <br>

    <h1>Game Projects</h1>
    <a href="line-dreams" style="text-decoration: none;">
        <div style="box-shadow: 0 5px 10px #00000015; margin-bottom: 1em; background-image: linear-gradient(#5764F240, #5764F280); border-radius:2rem; padding: 2.25rem; box-shadow: 0px 5px 10px #00000015; user-select: none;">
            <div style="display:flex;">
                <div style="margin: auto; margin-right: 2em;">
                    <img src="/assets/studios/line-dreams/LD_Fan-Game_Icon.png" style="width: 256px;">
                </div>
                <div style="margin-bottom:2.5em;">
                    <h1>Line Dreams</h1>
                    <p>Go on a dream journey with the Dancing Line fan-game, Line Dreams!</p>
                    <abbr title="Windows"><img style="vertical-align: middle; border-radius: 0; margin-left: 2px;" src="/svg/windows.svg" width="20" height="20"></abbr> <abbr title="Linux"><img style="vertical-align: middle; border-radius: 0; margin-left: 5px;" src="/svg/linux.svg" width="20" height="20"></abbr> <span style="color: #ffffff40;">|</span> <abbr title="Android"><img style="vertical-align: middle; border-radius: 0; margin-left: 5px;" src="/svg/android.png" width="20" height="12"></abbr>
                </div>
            </div>
        </div>
    </a>
</main>

{{ end }}