{{ define "title" }}Community - MediaPlay{{ end }}
{{ define "main" }}
<style>
    a.button {
    padding: 0.75em 3em;
    border-radius: 100px;
    color: buttontext;
    background-color: #ffffff20;
    text-decoration: none;
    }
</style>
<h1>Community</h1>
<p>You can check all communities of MediaPlay and all their activities and events here.</p>

<div style="margin-bottom: 1em; background-color:#5764F240; border-radius:2rem; padding: 2.25rem; box-shadow: 0px 5px 10px #00000015; user-select: none;">
    <div style="display:flex;">
        <div>
            <h1>MediaPlay Discord</h1>
            <p>Official Discord server of MediaPlay</p>
            <a style="text-transform: uppercase;" href="discord">View Server Roles 🡢</a>
        </div>
        <div style="margin: auto; margin-right: 2.25em;">
            <a style="color:#b2b7f5" class="button" target="_blank" href="https://discord.gg/tjNg8FstTu"><b>Go</b></a><br>
        </div>
    </div>
</div>

<div style="margin-bottom: 1.5em; background-color:#ff000040; border-radius:2rem; padding: 2.25rem; box-shadow: 0px 5px 10px #00000015; user-select: none;">
    <div style="display:flex;">
        <div>
            <h1>MediaPlay YouTube</h1>
            <p>Official YouTube channel of MediaPlay</p>
        </div>
        <div style="margin: auto; margin-right: 2.25em;">
            <a style="color:rgb(255, 212, 212)" class="button" target="_blank" href="https://www.youtube.com/@mediaplaydiscordcommunity2946"><b>Go</b></a>
        </div>
    </div>
</div>
{{ end }}