<style>
  a.button {
    padding: 0.75em 0.6em;
    border-radius: 100px;
    background-color: #ffffff20;
    transition: all 0.05s ease;
    text-decoration: none;
  }

  a.button:hover {
    background: #ffffff60;
    transition: all 0.05s ease;
  }
</style>

<div
  style="box-shadow: 0 0 15px rgba(0, 0, 0, 0.315); margin-bottom: 1em; background-image: url('https://cdn.discordapp.com/guild-events/1255527621425500301/208f4544bfcf4b49c0cdf2d69bc30aa2?size=1280'); background-repeat: no-repeat; background-position: 0%; background-size: cover; border-radius: 1em;"
>
  <div style="display: flex; padding: 15px;">
    <div>
      <div style="filter: opacity(0%);">
        <h1 style="text-transform: uppercase"><i>Current Event</i></h1>
        <h2>{{ .Get 1 }}</h2>
        <p style="font-size: 14pt; text-align: justify"><i>{{ .Get 2 }}</i></p>
      </div>
      
      <sub>Started on {{ .Get 3 }}, ends on {{ .Get 4 }}</sub>
    </div>
    <div style="margin: auto; margin-right: 1em;">
      <a
        style="color: #ffffff80; vertical-align: middle"
        class="button"
        target="_blank"
        href="{{ .Get 5 }}"
        ><span
          style="color: white; user-select: none; vertical-align: middle"
          class="material-symbols-rounded"
          >arrow_forward</span
        ></a
      ><br />
    </div>
  </div>
</div>
