<style>
    .section-header {
        background-color: #3399FF40 !important;
        color: white;
        text-align: center;
    }
    .not-obtainable {
        background-color: #FF000040;
        color: white;
    }
    .moderator-decision {
        background-color: #ffd90040;
    }
    .help-server {
        background-color: #FFFF0040;
    }
    .server-activity {
        background-color: #FFCC0040;
    }
    .buy-store {
        background-color: #00FF0040;
    }
    .default-role {
        background-color: #FFA50040;
    }
</style>

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>How to Obtain</th>
    </tr>
    <tr class="section-header">
        <td colspan="3">Moderation Roles</td>
    </tr>
    <tr>
        <td>Server Creator</td>
        <td>The owner of the server.</td>
        <td class="not-obtainable">You can't obtain this role.</td>
    </tr>
    <tr>
        <td>Server Admin</td>
        <td>The higher moderator role; can manage moderators.</td>
        <td class="moderator-decision">Requires Moderator, based on server owner's decision.</td>
    </tr>
    <tr>
        <td>Moderator</td>
        <td>The official staff role for the server.</td>
        <td class="moderator-decision">Requires Jr. Moderator; get better for moderating the server.</td>
    </tr>
    <tr>
        <td>Jr. Moderator</td>
        <td>The beginner staff role.</td>
        <td class="help-server">Chat every day; care for this server; help everyone.</td>
    </tr>
    <tr>
        <td>Former Moderator</td>
        <td>The former moderators in this server.</td>
        <td class="moderator-decision">Requires a moderation role; assigned from moderation.</td>
    </tr>
    <tr class="section-header">
        <td colspan="3">Special Roles</td>
    </tr>
    <tr>
        <td>MediaNext Bot Developer</td>
        <td>The developer who makes the MediaNext bot.</td>
        <td class="help-server">Help with MediaNext development.</td>
    </tr>
    <tr>
        <td>Nitro Booster</td>
        <td>For everyone who boosts the server with their Discord Nitro subscription.</td>
        <td class="buy-store">Boost the server.</td>
    </tr>
    <tr>
        <td>MediaPlay Partnership</td>
        <td>For everyone who partnered with our server.</td>
        <td class="moderator-decision">Meet the partnership requirements.</td>
    </tr>
    <tr>
        <td>Game Activities Manager</td>
        <td>For everyone who manages the gaming activities.</td>
        <td class="server-activity">Based on events manager; care for game news.</td>
    </tr>
    <tr>
        <td>Events Manager</td>
        <td>For everyone who hosts events in the server.</td>
        <td class="server-activity">Care for server events.</td>
    </tr>
    <tr>
        <td>MediaPlay Studios</td>
        <td>A role for everyone who works in MediaPlay Studios.</td>
        <td class="moderator-decision">Be signed by an application, or be chosen by a developer.</td>
    </tr>
    <tr>
        <td>Trusted</td>
        <td>A trust role for everyone who the creator or moderators choose as they're trusted.</td>
        <td class="moderator-decision">Only chosen by the creator or the moderators.</td>
    </tr>
    <tr>
        <td>MediaPlay Premium</td>
        <td>A special subscription role; gives you extra perks for this server.</td>
        <td class="buy-store">Buy it in the store.</td>
    </tr>
    <tr class="section-header">
        <td colspan="3">Talent Roles</td>
    </tr>
    <tr>
        <td>YouTuber</td>
        <td>A role for everyone who makes YouTube videos.</td>
        <td class="buy-store">Have at least 200 subscribers on YouTube.</td>
    </tr>
    <tr>
        <td>Fan-Level Creator</td>
        <td>A role for everyone who makes fan-made games or levels.</td>
        <td class="buy-store">Make any fan-made game or project using any game engine.</td>
    </tr>
    <tr>
        <td>Artist</td>
        <td>A role for everyone who makes art.</td>
        <td class="buy-store">Make art with a good style.</td>
    </tr>
    <tr>
        <td>Coder</td>
        <td>A role for everyone who can code using C++, C#, Java, Python, etc.</td>
        <td class="buy-store">Make any well-organized code.</td>
    </tr>
    <tr>
        <td>Music Producer</td>
        <td>A role for everyone who can make music.</td>
        <td class="buy-store">Make any good type of music.</td>
    </tr>
    <tr>
        <td>Special Server Bot</td>
        <td>Special bot role for MediaNext.</td>
        <td class="not-obtainable">You can't obtain this role.</td>
    </tr>
    <tr>
        <td>Server Bot</td>
        <td>A role specially for the server bots.</td>
        <td class="not-obtainable">You can't obtain this role.</td>
    </tr>
    <tr class="section-header">
        <td colspan="3">Cubes Roles</td>
    </tr>
    <tr>
        <td>Cubified</td>
        <td>A role for everyone who is cubified.</td>
        <td class="buy-store">If you have a cube, you can ask for it.</td>
    </tr>
    <tr>
        <td>Cubes Artist</td>
        <td>For everyone who makes Cubes.</td>
        <td class="moderator-decision">Requires Artist; ask for it.</td>
    </tr>
    <tr class="section-header">
        <td colspan="3">Member Roles</td>
    </tr>
    <tr>
        <td>Member</td>
        <td>A role that everyone has.</td>
        <td class="default-role">You should have this role upon joining.</td>
    </tr>
    <tr>
        <td>Server 500 Reacher</td>
        <td>For the person who made the server reach 500 members.</td>
        <td class="not-obtainable">Currently closed; next target is 600 members.</td>
    </tr>
    <tr>
        <td>Muted (Legacy)</td>
        <td>A role that will <i>not</i> allow you to access any channel.</td>
        <td class="not-obtainable">Currently archived; replaced by Discord's timeout feature.</td>
    </tr>
    <tr>
        <td>Verified</td>
        <td>A role for those who are verified by the creator or the moderators.</td>
        <td class="moderator-decision">Be friends with the creator or the moderators.</td>
    </tr>
</table>