<style>
    .section-header {
        background-color: #3399FF40 !important;
        color: white;
        text-align: center;
    }
    .not-obtainable {
        background-color: #FF000040;
        color: white;
    }
    .moderator-decision {
        background-color: #ffd90040;
    }
    .help-server {
        background-color: #FFFF0040;
    }
    .server-activity {
        background-color: #FFCC0040;
    }
    .buy-store {
        background-color: #00FF0040;
    }
    .default-role {
        background-color: #FFA50040;
    }
</style>

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>How To Obtain</th>
    </tr>
    <tr class="section-header">
        <td colspan="3">Moderation Roles</td>
    </tr>
    <tr>
        <td>Server Creator</td>
        <td>The owner of the server</td>
        <td class="not-obtainable">You can't obtain this role</td>
    </tr>
    <tr>
        <td>Server Admin</td>
        <td>The higher moderator role, can manage moderators</td>
        <td class="moderator-decision">Requires moderator, based on server owner decision</td>
    </tr>
    <tr>
        <td>Moderator</td>
        <td>The official staff role for the server</td>
        <td class="moderator-decision">Requires JR moderator, get better for moderating the server</td>
    </tr>
    <tr>
        <td>JR. Moderator</td>
        <td>The beginner staff role</td>
        <td class="help-server">Chat everyday, care for this server, help everyone</td>
    </tr>
    <tr>
        <td>Former Moderator</td>
        <td>The former moderator in this server</td>
        <td class="moderator-decision">Requires a moderation role, assign from moderation</td>
    </tr>
    <tr class="section-header">
        <td colspan="3">Special Roles</td>
    </tr>
    <tr>
        <td>MediaNext Bot Developer</td>
        <td>The developer who makes MediaNext bot</td>
        <td class="help-server">Help with MediaNext development</td>
    </tr>
    <tr>
        <td>Nitro Booster</td>
        <td>For everyone who boosts the server with their nitro</td>
        <td class="buy-store">Boost the server</td>
    </tr>
    <tr>
        <td>MediaPlay Partnership</td>
        <td>For everyone who partnership with our server</td>
        <td class="moderator-decision">Met the partnership requirements</td>
    </tr>
    <tr>
        <td>Game Activities Manager</td>
        <td>For everyone who manage the gaming activities</td>
        <td class="server-activity">Based on events manager, care for game news</td>
    </tr>
    <tr>
        <td>Events Manager</td>
        <td>For everyone who hosts events in the server</td>
        <td class="server-activity">Care for server events</td>
    </tr>
    <tr>
        <td>MediaPlay Studios</td>
        <td>A role for everyone who works in MediPlay Studios</td>
        <td class="moderator-decision">Be signed by an application, or chosen by a developer</td>
    </tr>
    <tr>
        <td>Trusted</td>
        <td>A trust role for everyone who the creator or moderators choose as they're trusted</td>
        <td class="moderator-decision">Only chosen by moderators</td>
    </tr>
    <tr>
        <td>MediaPlay Premium</td>
        <td>A special subscription role, gives you extra perks for this server</td>
        <td class="buy-store">Buy it in the store</td>
    </tr>
    <tr class="section-header">
        <td colspan="3">Talent Roles</td>
    </tr>
    <tr>
        <td>YouTuber</td>
        <td>A role for everyone who makes YouTube videos</td>
        <td class="buy-store">Have over 200 subscribers</td>
    </tr>
    <tr>
        <td>Fan-Level Creator</td>
        <td>A role for everyone who fan-game or fan-levels</td>
        <td class="buy-store">Make any fan-game or fan-project using any game engine</td>
    </tr>
    <tr>
        <td>Artist</td>
        <td>A role for everyone who makes art</td>
        <td class="buy-store">Make good style art</td>
    </tr>
    <tr>
        <td>Coder</td>
        <td>A role for everyone who can code using C++, C#, Java, Python, or anything</td>
        <td class="buy-store">Make any well organized code</td>
    </tr>
    <tr>
        <td>Music Producer</td>
        <td>A role for everyone who can make music</td>
        <td class="buy-store">Make any good type of music</td>
    </tr>
    <tr>
        <td>Special Server Bot</td>
        <td>Special bot role for MediaNext</td>
        <td class="not-obtainable">You can't obtain this role</td>
    </tr>
    <tr>
        <td>Server Bot</td>
        <td>A role specially for server bots</td>
        <td class="not-obtainable">You can't obtain this role</td>
    </tr>
    <tr class="section-header">
        <td colspan="3">Cubes Roles</td>
    </tr>
    <tr>
        <td>Cubified</td>
        <td>A role for everyone who is cubified</td>
        <td class="buy-store">If you have a cube, you can ask for it</td>
    </tr>
    <tr>
        <td>Cubes Artist</td>
        <td>For everyone who makes Cubes</td>
        <td class="moderator-decision">Requires Artist, ask for it</td>
    </tr>
    <tr class="section-header">
        <td colspan="3">Members Roles</td>
    </tr>
    <tr>
        <td>Member</td>
        <td>A role everyone have</td>
        <td class="default-role">You should have this role once joining</td>
    </tr>
    <tr>
        <td>Server 500 Reacher</td>
        <td>For the person who reach 500 members</td>
        <td class="not-obtainable">Currently Closed, next target is 600 members</td>
    </tr>
    <tr>
        <td>Muted (Legacy)</td>
        <td>A role that will allow you to access any channel</td>
        <td class="not-obtainable">Currently archived, replaced by Discord's timeout feature</td>
    </tr>
    <tr>
        <td>Verified</td>
        <td>A role that is the creator or mod verify</td>
        <td class="moderator-decision">Be friends with the creator or the mod</td>
    </tr>
</table>