<style>
    a.button {
    padding: 0.75em 1em;
    padding-bottom: 0.9em;
    border-radius: 100px;
    background-color: #ffffff20;
    transition: all .05s ease;
    text-decoration: none;
    }

    a.button:hover {
        background: #ffffff60;
        transition: all .05s ease;
        transform: scale(2);
    }
</style>


<a style="color:#b2b7f5; margin-right: 0.4em; user-select: none;" class="button" href="{{.Get 0}}"><img style="vertical-align: middle; border-radius: 0; margin-left: 2px;" src="/svg/android.png" width="20" height="12"> <span style="vertical-align: middle;">Android</span></a>